* {
	margin:0;
	padding:0;
}

body {
	font-size:2vh;
}

#calendar {
	display:flex;
	flex-direction:column;
	align-items:center;
	padding:1vh;
}

#calendar > h1 {
	margin-top:1vh;
	margin-bottom:3vh;
}